<!DOCTYPE html>
<html lang="pt-br">
<head></head>
<body>

    <app-root></app-root>

    <script src="~/clienteapp/dist/polyfills.js"></script>
    <script src="~/clienteapp/dist/runtime.js"></script>
    <script src="~/clienteapp/dist/styles.js"></script>
    <script src="~/clienteapp/dist/vendor.js"></script>
    
    <!--Principal-->
    <script src="~/clienteapp/dist/main.js"></script>


</body>
</html>